body
{
	background:#2B2B2B;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	font-size:12px;
	margin:0 auto;
	color: #2B2B2B;
}
.clear{
	clear:both;
}
a{
color:#256c89;
}
h2{
	font-size:18px;
	color:#256c89;
	font-weight:normal;
	padding:0px 0 15px 0;
	margin:0px;
	clear:both;
}
h3{
	font-size:14px;
	color:#256c89;
	font-weight:normal;
	padding:15px 0 5px 20px;
	margin:0px;
	float:left;
	clear:both;
}

#main_container{
	margin:0 auto;
	width:900px;
	padding:0px 0 0px 0;
}
.header{
	width:900px;
	height:60px;
}

.right_header{
	width:350px;
	float:right;
	text-align:right;
	color:#FFFFFF;
	padding:40px 0 0 0;
}
.right_header a{
	margin:0 5px 0 5px;
	text-decoration:none;
	color:#FFFFFF;
}


.main_content{
	margin:0 auto;
	width:900px;
	height:auto;
	padding:0px 0 50px 0;
	background-color: white;
	border-radius:10px;
}
.footer{width:900px;height:87px;}




.center_content{
	clear:both;

}

.left_content{
	width:195px;
	float:left;
	padding:30px 0 0 20px;
	margin-top: 40px;
}
.right_content{
	width:625px;
	float:left;
	padding:30px 0 0 30px;
}

/*-------MENU LATERAL-*/
.main_cont
{
	width:180px;
	background:#ddd;
	color: #000;
	padding:0px;
	border-radius:10px;
	border:solid 1px #ddd;
	margin-left:20px;
}
.menu_top_bg
{
	width:180px;
	background:-moz-linear-gradient(#f90 0%, #f60 100%);
	height:30px;
	padding-top:8px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	font-weight:bold;
	text-align:center;
	margin-bottom:1px;
}
.sub_menu ul
{
	padding:0px;
	cursor:pointer;
	margin: 0px;	
}
.sub_menu ul li
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000;
line-height:32px;
border-bottom:1px dotted #fff;
list-style-type:none;
text-indent:8px;
cursor:pointer;
}

.sub_menu ul li a
{
text-decoration:none;
color:#000;
}
.sub_menu ul li
{
background:;
float:left;
width:242px;
height:32px;
}
.sub_menu ul li a:hover
{
	background:-moz-linear-gradient(#283A59 0%, #283A59 100%);
	box-shadow:0 0 15px #fff;
	float:left;
	width:180px;
	font-size:16px;
	color:#fff;
	cursor:pointer;
	height:32px;
	border-radius: 5px;
}


a.bt_green{
	display:block; float:left; margin:10px 5px 10px 5px; 
	line-height:31px; text-decoration:none; color:#FFFFFF; 
	text-shadow:1px 1px #8fa42b;
}
a.bt_green strong{
	width:auto;height:31px; padding:0 10px 0 10px;display:block; 
	float:left;background-color:#283A59;
	border-radius: 10px;
}

/*-----TABLAS---------*/
table {
    width: 100%;
    font-size: 0.9em;
}
table caption {
    color: #000;
    font-style: italic;
    margin-bottom: 8px;
}
table tr:last-child {background:#283A59; color:#000}
th {
    text-align: left;
}
td:last-child, th:last-child {
    text-align:right;
}
td, th {
    padding: 6px 12px;
}
tr:nth-child(odd), tr:nth-child(odd) {
    background: #eee;
}
tr:nth-child(even) {
    background: #ddd;
}
tr:first-child, tr:first-child {
    background: #283a59;
	color:#000;
}
table td:empty {
    background:white;
}

